---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 140

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2

BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: AlwaysBreak

SpacesInParentheses: true
SpacesInSquareBrackets: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
PointerAlignment: Middle
...
