# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
a
k
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information filesuilt
.vscode/
/.cache

# Cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/

# Report
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.synctex.gz
report/main.log
report/main.toc
report/indent.log
report/main.blg
report/main.bbl
report/q.log
report/texput.log
report/libproject_lib.a
report/DartConfiguration.tcl
.DS_Store

# Presentation
presentation/diapo.toc
presentation/diapo.synctex.gz
presentation/diapo.out
presentation/diapo.nav
presentation/diapo.log
presentation/diapo.fls
presentation/diapo.fdb_latexmk
presentation/diapo.aux
presentation/diapo.snm

#Flint 
flint-3.4.0/
